.Addnew_box {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background: #D9D9D9;
  position: fixed;
  bottom: 60px;
  right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition-duration: 0.2s;
}
.Addnew_box img {
  height: 70%;
  transition-duration: 0.4s;
}
.Addnew_box:hover {
  box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.25);
  background: #ffffff;
}
.Addnew_box:hover img {
  content: url(addon.png);
  height: 80%;
  transform: rotate(360deg);
}
